FORMAT: 1A
HOST: https://api.evals.net/v2/

# EVALS Performance Data

Descriptions and specifications for retrieving EVALS performance data via its API

# Group Skills
This section groups EVALS skills resources.

## Skill [/materials/skills/{skill_id}]
A Skill is the central object utilized by the EVALS manipulative skills module.

+ Parameters
    + skill_id: `7` (string)

+ Headers
    evals-access-token: TOKEN (required)

+ Model (application/json)

    ```js
    {
        "links": {
            "self": "https://api.evals.net/v2/materials/skills"
        },
        "data": [
            {
                "type": "skills",
                "id": "7",
                "attributes": {
                    "title": "Power Down Deflector Shield",
                    "steps": "10",
                    "total_points": "50",
                    ...
                },
                "relationships": {
                    "program": {
                        "links": {
                            "self": "https://api.evals.net/v2/programs/1",
                            "related": "https://api.evals.net/v2/materials/skills/7/program"
                        },
                        "data": { "type": "programs", "id": "1" }
                    },
                    "scores": {
                        "links": {
                            "self": "https://api.evals.net/v2/performance/manipulative?skill_id=7",
                            "related": "https://api.evals.net/v2/materials/skills/7/scores"
                        },
                        "data": [
                            { "type": "manipulative_scores", "id": "5" },
                            { "type": "manipulative_scores", "id": "12" }
                        ]
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/materials/skills/7"
                }
            }
        ],
        "included": [
            {
                "type": "programs",
                "id": "1",
                "attributes": {
                    "full_name": "Star Wars",
                    "alias": "starwars"
                },
                "links": {
                    "self": "https://api.evals.net/v2/programs/1",
                }
            }, 
            {
                "type": "manipulative_scores",
                "id": "5",
                "attributes": {
                    "points": "45",
                    "max_points": "50",
                    "critical_fail": false,
                    "date": "2016-08-29 13:21:32",
                    ...
                },
                "relationships": {
                    "user": {
                        "data": { "type": "users", "id": "23" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/performance/manipulative/5"
                }
            }, 
            {
                "type": "manipulative_scores",
                "id": "12",
                "attributes": {
                    "points": "0",
                    "max_points": "50",
                    "critical_fail": true,
                    "date": "2016-08-29 13:38:32",
                    ...
                },
                "relationships": {
                    "user": {
                        "data": { "type": "users", "id": "54" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/performance/manipulative/12"
                }
            }
        ]
    }
    ```

### Retrieve a Skill [GET]
Retrieves a specific Skill.

+ Response 200

    [Skill][]

## Skills Collection [/materials/skills]
A Collection of Skills.

+ Model (application/json)

    ```js
    {
        "links": {
            "self": "https://api.evals.net/v2/materials/skills"
        },
        "data": [
            {
                "type": "skills",
                "id": "7",
                "attributes": {
                    "title": "Power Down Deflector Shield",
                    "steps": "10",
                    "total_points": "50",
                    ...
                },
                "relationships": {
                    "program": {
                        "links": {
                            "self": "https://api.evals.net/v2/programs/1",
                            "related": "https://api.evals.net/v2/materials/skills/7/program"
                        },
                        "data": { "type": "programs", "id": "1" }
                    },
                    "scores": {
                        "links": {
                            "self": "https://api.evals.net/v2/performance/manipulative?skill_id=7",
                            "related": "https://api.evals.net/v2/materials/skills/7/scores"
                        },
                        "data": [
                            { "type": "manipulative_scores", "id": "5" },
                            { "type": "manipulative_scores", "id": "12" }
                        ]
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/materials/skills/7"
                }
            },
            {
                "type": "skills",
                "id": "8",
                "attributes": {
                    "title": "Survive a Night on Hoth",
                    "steps": "7",
                    "total_points": "30",
                    ...
                },
                "relationships": {
                    "program": {
                        "links": {
                            "self": "https://api.evals.net/v2/programs/1",
                            "related": "https://api.evals.net/v2/materials/skills/8/program"
                        },
                        "data": { "type": "programs", "id": "1" }
                    },
                    "scores": {
                        "links": {
                            "self": "https://api.evals.net/v2/performance/manipulative?skill_id=8",
                            "related": "https://api.evals.net/v2/materials/skills/8/scores"
                        },
                        "data": [
                            { "type": "manipulative_scores", "id": "62" }
                        ]
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/materials/skills/8"
                }
            },
            {
                "type": "skills",
                "id": "29",
                "attributes": {
                    "title": "Fly X-Wing",
                    "steps": "25",
                    "total_points": "100",
                    ...
                },
                "relationships": {
                    "program": {
                        "links": {
                            "self": "https://api.evals.net/v2/programs/1",
                            "related": "https://api.evals.net/v2/materials/skills/29/program"
                        },
                        "data": { "type": "programs", "id": "1" }
                    },
                    "scores": {
                        "links": {
                            "self": "https://api.evals.net/v2/performance/manipulative?skill_id=29",
                            "related": "https://api.evals.net/v2/materials/skills/29/scores"
                        },
                        "data": []
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/materials/skills/29"
                }
            },
        ],
        "included": [
            {
                "type": "programs",
                "id": "1",
                "attributes": {
                    "full_name": "Star Wars",
                    "alias": "starwars"
                    ...
                },
                "links": {
                    "self": "https://api.evals.net/v2/programs/1",
                }
            },
            {
                "type": "manipulative_scores",
                "id": "5",
                "attributes": {
                    "points": "45",
                    "max_points": "50",
                    "critical_fail": false,
                    "date": "2016-08-29 13:21:32",
                    ...
                },
                "relationships": {
                    "user": {
                        "data": { "type": "users", "id": "23" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/performance/manipulative/5"
                }
            }, 
            {
                "type": "manipulative_scores",
                "id": "12",
                "attributes": {
                    "points": "0",
                    "max_points": "50",
                    "critical_fail": true,
                    "date": "2016-08-29 13:38:32",
                    ...
                },
                "relationships": {
                    "user": {
                        "data": { "type": "users", "id": "54" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/performance/manipulative/12"
                }
            },
            {
                "type": "manipulative_scores",
                "id": "62",
                "attributes": {
                    "points": "30",
                    "max_points": "30",
                    "critical_fail": true,
                    "date": "2016-08-30 06:00:00",
                    ...
                },
                "relationships": {
                    "user": {
                        "data": { "type": "users", "id": "55" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/performance/manipulative/62"
                }
            }
        ]
    }
    ```

### Retrieve all Skills [GET]
Retrieves all Skills.

+ Response 200

    [Skills Collection][]

# Group Manipulative Scores
This section groups EVALS manipulative scores resources.

## Manipulative Score [/performance/manipulative_scores/{manipulative_score_id}]
A Manipulative Score is the central score object utilized by the EVALS manipulative skills API.

+ Parameters
    + manipulative_score_id: `5` (string)

+ Headers
    evals-access-token: TOKEN (required)

+ Model (application/json)

    ```js
    {
        "links": {
            "self": "https://api.evals.net/v2/performance/manipulative"
        },
        "data": [
            {
                "type": "manipulative_scores",
                "id": "5",
                "attributes": {
                    "points": "45",
                    "max_points": "50",
                    "critical_fail": false,
                    "date": "2016-08-29 13:21:32",
                    ...
                },
                "relationships": {
                    "program": {
                        "links": {
                            "self": "https://api.evals.net/v2/programs/1",
                            "related": "https://api.evals.net/v2/performance/manipulative/5/program"
                        },
                        "data": { "type": "programs", "id": "1" }
                    },
                    "module": {
                        "links": {
                            "self": "https://api.evals.net/v2/modules/8",
                            "related": "https://api.evals.net/v2/performance/manipulative/5/module"
                        },
                        "data": { "type": "modules", "id": "8" }
                    },
                    "skill": {
                        "links": {
                            "self": "https://api.evals.net/v2/materials/skills/7",
                            "related": "https://api.evals.net/v2/performance/manipulative/5/skill"
                        },
                        "data": { "type": "skills", "id": "7" }
                    },
                    "user": {
                        "links": {
                            "self": "https://api.evals.net/v2/users/23",
                            "related": "https://api.evals.net/v2/performance/manipulative/5/user"
                        },
                        "data": { "type": "users", "id": "23" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/performance/manipulative/5"
                }
            }
        ],
        "included": [
            {
                "type": "programs",
                "id": "1",
                "attributes": {
                    "full_name": "Star Wars",
                    "alias": "starwars",
                    ...
                },
                "links": {
                    "self": "https://api.evals.net/v2/programs/1",
                }
            }, 
            {
                "type": "modules",
                "id": "8",
                "attributes": {
                    "full_name": "Survive The Galaxy",
                    ...
                },
                "relationships": {
                    "program": {
                        "data": { "type": "programs", "id": "1" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/modules/8",
                }
            }, 
            {
                "type": "skills",
                "id": "7",
                "attributes": {
                    "title": "Power Down Deflector Shield",
                    "steps": "10",
                    "total_points": "50",
                    ...
                },
                "relationships": {
                    "program": {
                        "data": { "type": "programs", "id": "1" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/materials/skills/7"
                }
            }, 
            {
                "type": "users",
                "id": "23",
                "attributes": {
                    "full_name": "Han Solo",
                    "first_name": "Han",
                    "last_name": "Solo",
                    ...
                },
                "links": {
                    "self": "https://api.evals.net/v2/users/23"
                }
            }
        ]
    }
    ```

### Retrieve a Manipulative Score [GET]
Retrieves a specific Manipulative Score.

+ Response 200

    [Manipulative Score][]

## Manipulative Scores Collection [/performance/manipulative-scores]
A Collection of Manipulative Scores.

+ Model (application/json)

    ```js
    {
        "links": {
            "self": "https://api.evals.net/v2/performance/manipulative"
        },
        "data": [
            {
                "type": "manipulative_scores",
                "id": "5",
                "attributes": {
                    "points": "45",
                    "max_points": "50",
                    "critical_fail": false,
                    "date": "2016-08-29 13:21:32",
                    ...
                },
                "relationships": {
                    "program": {
                        "links": {
                            "self": "https://api.evals.net/v2/programs/1",
                            "related": "https://api.evals.net/v2/performance/manipulative/5/program"
                        },
                        "data": { "type": "programs", "id": "1" }
                    },
                    "module": {
                        "links": {
                            "self": "https://api.evals.net/v2/modules/8",
                            "related": "https://api.evals.net/v2/performance/manipulative/5/module"
                        },
                        "data": { "type": "modules", "id": "8" }
                    },
                    "skill": {
                        "links": {
                            "self": "https://api.evals.net/v2/materials/skills/7",
                            "related": "https://api.evals.net/v2/performance/manipulative/5/skill"
                        },
                        "data": { "type": "skills", "id": "7" }
                    },
                    "user": {
                        "links": {
                            "self": "https://api.evals.net/v2/users/23",
                            "related": "https://api.evals.net/v2/performance/manipulative/5/user"
                        },
                        "data": { "type": "users", "id": "23" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/performance/manipulative/5"
                }
            },
            {
                "type": "manipulative_scores",
                "id": "12",
                "attributes": {
                    "points": "0",
                    "max_points": "50",
                    "critical_fail": true,
                    "date": "2016-08-29 13:38:32",
                    ...
                },
                "relationships": {
                    "program": {
                        "links": {
                            "self": "https://api.evals.net/v2/programs/1",
                            "related": "https://api.evals.net/v2/performance/manipulative/12/program"
                        },
                        "data": { "type": "programs", "id": "1" }
                    },
                    "module": {
                        "links": {
                            "self": "https://api.evals.net/v2/modules/8",
                            "related": "https://api.evals.net/v2/performance/manipulative/12/module"
                        },
                        "data": { "type": "modules", "id": "8" }
                    },
                    "skill": {
                        "links": {
                            "self": "https://api.evals.net/v2/materials/skills/7",
                            "related": "https://api.evals.net/v2/performance/manipulative/12/skill"
                        },
                        "data": { "type": "skills", "id": "7" }
                    },
                    "user": {
                        "links": {
                            "self": "https://api.evals.net/v2/users/54",
                            "related": "https://api.evals.net/v2/performance/manipulative/12/user"
                        },
                        "data": { "type": "users", "id": "54" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/performance/manipulative/12"
                }
            },
            {
                "type": "manipulative_scores",
                "id": "62",
                "attributes": {
                    "points": "30",
                    "max_points": "30",
                    "critical_fail": false,
                    "date": "2016-08-30 06:00:00",
                    ...
                },
                "relationships": {
                    "program": {
                        "links": {
                            "self": "https://api.evals.net/v2/programs/1",
                            "related": "https://api.evals.net/v2/performance/manipulative/6/program"
                        },
                        "data": { "type": "programs", "id": "1" }
                    },
                    "module": {
                        "links": {
                            "self": "https://api.evals.net/v2/modules/8",
                            "related": "https://api.evals.net/v2/performance/manipulative/6/module"
                        },
                        "data": { "type": "modules", "id": "8" }
                    },
                    "skill": {
                        "links": {
                            "self": "https://api.evals.net/v2/materials/skills/8",
                            "related": "https://api.evals.net/v2/performance/manipulative/62/skill"
                        },
                        "data": { "type": "skills", "id": "8" }
                    },
                    "user": {
                        "links": {
                            "self": "https://api.evals.net/v2/users/55",
                            "related": "https://api.evals.net/v2/performance/manipulative/62/user"
                        },
                        "data": { "type": "users", "id": "55" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/performance/manipulative/62"
                }
            },
        ],
        "included": [
            {
                "type": "programs",
                "id": "1",
                "attributes": {
                    "full_name": "Star Wars",
                    "alias": "starwars",
                    ...
                },
                "links": {
                    "self": "https://api.evals.net/v2/programs/1",
                }
            }, 
            {
                "type": "modules",
                "id": "8",
                "attributes": {
                    "full_name": "Survive the Galaxy",
                    ...
                },
                "links": {
                    "self": "https://api.evals.net/v2/modules/8",
                }
            }, 
            {
                "type": "skills",
                "id": "7",
                "attributes": {
                    "title": "Power Down Deflector Shield",
                    "steps": "10",
                    "total_points": "50",
                    ...
                },
                "relationships": {
                    "program": {
                        "data": { "type": "programs", "id": "1" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/materials/skills/7"
                }
            },
            {
                "type": "skills",
                "id": "8",
                "attributes": {
                    "title": "Survive a Night on Hoth",
                    "steps": "7",
                    "total_points": "30",
                    ...
                },
                "relationships": {
                    "program": {
                        "data": { "type": "programs", "id": "1" }
                    }
                },
                "links": {
                    "self": "https://api.evals.net/v2/materials/skills/8"
                }
            },
            {
                "type": "users",
                "id": "23",
                "attributes": {
                    "full_name": "Han Solo",
                    "first_name": "Han",
                    "last_name": "Solo",
                    ...
                },
                "links": {
                    "self": "https://api.evals.net/v2/users/23"
                }
            },
            {
                "type": "users",
                "id": "54",
                "attributes": {
                    "full_name": "Leia Organa",
                    "first_name": "Leia",
                    "last_name": "Organa",
                    ...
                },
                "links": {
                    "self": "https://api.evals.net/v2/users/54"
                }
            },
            {
                "type": "users",
                "id": "55",
                "attributes": {
                    "full_name": "Boba Fett",
                    "first_name": "Boba",
                    "last_name": "Fett",
                    ...
                },
                "links": {
                    "self": "https://api.evals.net/v2/users/55"
                }
            }
        ]
    }
    ```

### Retrieve all Manipulative Scores [GET]
Retrieves all Manipulative Scores.

+ Response 200

    [Manipulative Scores Collection][]